<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style/aluno.css">

    <!-- Angular Adicionado-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="js/disciplinaApp.js"></script>
    <script src="js/disciplina-controller.js"></script>



    <title>Pré-Matrícula Aluno</title>
</head>

<body ng-app="Disciplina" ng-controller="DisciplinaCtrl as vm">

    <header div class="pos-f-t">



        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <a data-target="#modalRealizarMatricula" data-toggle="modal" href="#modalRealizarMatricula" class=" nav-link text-white">Realizar matrícula</a>
            </div>
        </div>

        <nav class="navbar navbar-dark bg-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span
            </button>

            <a class="text-white navbar-brand d-flex mr-auto">Sistema de Pré-matrícula</a>
            <a class="text-white navbar-brand d-flex justify-content-end">{{email2}}</a>
        </nav>
    </header>



    <div style="margin: 20px" class=" flex-direction: row  d-flex justify-content-start">
        <div ng-click="selecionar(disciplina); isActive=!isActive" ng-class="{'active': isActive}" ng-repeat="disciplina in disciplinasCadastradas | orderBy:'periodo'"
            class="card border-dark cursor mb-3" style="width: 200px; margin: 10px;">
            <div class="card-body">
                {{disciplina.periodo}} - {{disciplina.nome}} - {{disciplina.carga}}h

            </div>
            
        </div>
    </div>


    <!-- Modal Matricula-->
    <div class="modal fade" id="modalRealizarMatricula" tabindex="-1" role="dialog" aria-labelledby="modalRealizarMatricula"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalNovaTurma">Diciplinas selecionadas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</shttp://localhost:8000/login.htmlpan>
                    </button>
                </div>
                <div class="modal-body">
                    <!--Corpo Modal-->
                    <h5 ng-repeat="disc in disciplinasSelecionadas" for="recipient-name" class="col-form-label">
                        {{disc.nome}} - Grade: {{disc.grade}}
                    </h5>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="realizarMatricula()">Matricular</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>