.Login-bg{
     
    
    background-color: whitesmoke;
    margin: auto;
    width: 25%;

    padding: 100px 0;
    text-align: center
}


.center {
    padding: 70px 0;
    text-align: center
}

.input{
    padding: 20px;
}

